[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
# 移除嚴格模式
sql_mode = ""

# 封包大小限制
max_allowed_packet = 256M

# 預設字符集與排序
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# 所有用戶連線預設編碼設定
init_connect = 'SET NAMES utf8mb4 COLLATE utf8mb4_unicode_ci;'

# 慢查詢設定
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow_query.log
long_query_time = 1

bind-address = 0.0.0.0