[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
# 移除嚴格模式
sql_mode = ""

# 預設使用 InnoDB 引擎
default_storage_engine = InnoDB

# 封包大小限制
max_allowed_packet = 256M

# 預設字符集與排序
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# 所有用戶連線預設編碼設定
init_connect = 'SET NAMES utf8mb4 COLLATE utf8mb4_unicode_ci;'

innodb_use_native_aio = 0

# 指定使用傳統的認證方式
default_authentication_plugin = mysql_native_password

# 允許外部主機連線
bind-address = 0.0.0.0

# 慢查詢設定
slow_query_log = 1
long_query_time = 1
slow_query_log_file = /var/log/mysql/slow_query.log
